[Unit]
Description=fastapi application
After=network.target

[Service]
User=jiwon
Group=jiwon
WorkingDirectory=/home/jiwon/app/src/
Environment="PATH=/home/jiwon/app/venv/bin"
EnvironmentFile=/home/jiwon/.env
ExecStart=/home/jiwon/app/venv/bin/gunicorn -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
